.Hcontiner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 500px;
    padding: 2rem 8rem;
    background-image: url('./assets/wave.svg');
    background-size: cover;
    background-position: bottom;
    position: relative;
  }
  
  .aboutMe {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    width: 600px;
    padding: 2rem;
    margin-left: -20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1;
    position: relative;
  }
  
  .aboutMe h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-family: 'Playfair Display', serif;  
  }
  
  .aboutMe p {
    line-height: 1.6;
    color: #666;
  }
  
  #prto-img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 2;
  }
  #githup-icon{
    
    
    font-size: 26px;
    cursor: pointer;
  }
  #linkedin-icon{
    height: 25px;
  
   
    cursor: pointer;
  }
 #x-icon{
height: 25px;


cursor: pointer;
 }
 .icon-continer{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  bottom: 10px;
  right: 30px;
 }
 @media (max-width:768px){
  .Hcontiner{
    flex-direction: column;
  }
  .aboutMe{
    background-color: transparent;
    box-shadow: none;
  }
  .icon-continer{
    bottom: -10px;
    right: 230px;
    gap: 30px;
  }
 }